
a{
  text-decoration:none;
}

#avatar {

  width:calc(200px + 5vw);
  height:auto;
  max-height:300px;
  animation:slideup 1s 1,fadein 2s 1;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.devblogstitle{
  color:black;
  font-weight:bold;
  font-size:50px;
  display:flex;
  flex-direction:row;
  margin:20px;

}
.outlinetext{
  color:#1e70ff
}
.container{
  background:white;
  width:100vw;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin:0px;
  flex-direction:column;
}

.bloggroup{
  background:transparent;
  padding:10px;
  margin:30px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.blog{
  background-size:cover;

width:400px;
height:400px;
  margin:20px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
     transition:0.3s;
     
      animation:slideup 1s 1;

}
.blog:hover{
   transform: translate(0, -5px) scale(1.05) rotate(2deg);
   transition:0.3s;
}
.blogtitle{
  color:white;

  font-size:40px;
  font-weight:bold;
}
.blogdate{
  color:white;
  font-size:20px;

  margin:10px;
}
