a{
  text-decoration:none;
}

.devblogstitle{
  color:black;
  font-weight:bold;
  font-size:40px;
  flex-direction:row;
  margin:20px;

}
.outlinetext{
  color:#38c3ff;
  margin:0px 10px;
}


.bloggroup{
  background:transparent;
  padding:10px;
  margin:30px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-direction:row;
}
.blog{
  background-size:cover;
 box-shadow:black 0px 8px 24px;
width:400px;
height:400px;
  margin:20px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
     transition:0.3s;
     
      animation:slideup 1s 1;

}
.blog:hover{
   transform: translate(0, -5px) scale(1.05) rotate(2deg);
   transition:0.3s;
}
.blogtitle{
  color:white;

  font-size:40px;
  font-weight:bold;
}
.blogdate{
  color:white;
  font-size:20px;
  margin:10px;
}


@media only screen and (max-width: 1000px) {
  .bloggroup{
    flex-direction:column;
  }
}

