

@import url('http://fonts.cdnfonts.com/css/gotham');

@Keyframes slideinfromleft{
 from{transform:translate(-120px, 0%); opacity:0%;}
 to{ opacity:100%;}
}

body {
  
 -moz-font-family:gotham;
-webkit-font-family:gotham;
    font-family:gotham;
    
     -moz-display:flex;
-webkit-display:flex;
    display:flex;
    
    -moz-flex-direction:column;
-webkit-flex-direction:column;
    flex-direction: column;
    
    -moz-align-items:center;
-webkit-align-items:center;
    align-items: center;
    
  -moz-height:auto;
-webkit-height:auto;
height:auto;


}
a{
  text-decoration:none;
}

.header{

  width:100vw;
  height:calc(160px + 10vw);
margin:-8px;
  background:transparent;

display:flex;
justify-content:center;
align-items:center;
padding:0px 0px;
animation:fadein 1s 1;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.headerfixedbackground{
   -moz-background-image:url('header.jpg');
-webkit-background-image:url('header.jpg');
 background-image:url('header.jpg');
 -moz-background-size:cover;
-webkit-background-size:cover;
  background-size:cover;
  background-repeat:no-repeat;
  margin:-8px ;
  -moz-width:100vw;
-webkit-width:100vw;
  width:100vw;
  
  height:calc(160px + 10vw);

  
   -moz-position:fixed;
  -webkit-position:fixed;
  position:fixed;
  
   -moz-z-index:-2;
  -webkit-z-index:-2;
  z-index:-2;
  
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

@Keyframes slideup{
  from{transform:translate(0px, 120px);opacity:0%}
  to{transform:translate(0px, 0px);opacity:100%}
}
@Keyframes fadein{
  from{opacity:0%}
  to{opacity:100%}
}

#avatar {

  width:calc(200px + 5vw);
  height:auto;
  max-height:300px;
  animation:slideup 1s 1,fadein 2s 1;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.devblogstitle{
  color:black;
  font-weight:bold;
  font-size:50px;
  display:flex;
  flex-direction:row;
  margin:20px;

}
.outlinetext{
  color:#1e70ff
}
.container{
  background:white;
  width:100vw;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin:0px;
  flex-direction:column;
}

.bloggroup{
  background:transparent;
  padding:10px;
  margin:30px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.blog{
  background-size:cover;

width:400px;
height:400px;
  margin:20px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
     transition:0.3s;
     
      animation:slideup 1s 1;

}
.blog:hover{
   transform: translate(0, -5px) scale(1.05) rotate(2deg);
   transition:0.3s;
}
.blogtitle{
  color:white;

  font-size:40px;
  font-weight:bold;
}
.blogdate{
  color:white;
  font-size:20px;

  margin:10px;
}
