@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('http://fonts.cdnfonts.com/css/gotham');
.dashedhr{
  width:70vw;
  border:1px dashed #1e70ff;
  margin:20px;
  text-align:center;
}

body {
 -moz-font-family:gotham;
-webkit-font-family:gotham;
    font-family:gotham;
    
     -moz-display:flex;
-webkit-display:flex;
    display:flex;
    
    -moz-flex-direction:column;
-webkit-flex-direction:column;
    flex-direction: column;
    
    -moz-align-items:center;
-webkit-align-items:center;
    align-items: center;
    
  -moz-height:auto;
-webkit-height:auto;
height:auto;


}
.header{

  width:100vw;
  height:calc(160px + 10vw);
margin:-8px;
  background:transparent;
display:flex;
justify-content:center;
align-items:center;
padding:0px 0px;
animation:fadein 1s 1;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.headerfixedbackground{
   -moz-background-image:url('header.jpg');
-webkit-background-image:url('header.jpg');
 background-image:url('header.jpg');
 -moz-background-size:cover;
-webkit-background-size:cover;
  background-size:cover;
  background-repeat:no-repeat;
  filter:brightness(25%) blur(2px);
  margin:-8px ;
  -moz-width:100vw;
-webkit-width:100vw;
  width:100vw;
  transform: scale(1.1);
  height:calc(160px + 10vw);

  
   -moz-position:fixed;
  -webkit-position:fixed;
  position:fixed;
  
   -moz-z-index:-2;
  -webkit-z-index:-2;
  z-index:-2;
  
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}
@Keyframes slideup{
  from{transform:translate(0px, 120px);opacity:0%}
  to{transform:translate(0px, 0px);opacity:100%}
}
@Keyframes fadein{
  from{opacity:0%}
  to{opacity:100%}
}
@Keyframes slideinfromleft{
 from{transform:translate(-120px, 0%); opacity:0%;}
 to{ opacity:100%;}
}
@Keyframes slideinfromright{
 from{transform:translate(120px, 0%); opacity:0%;}
 to{ opacity:100%;}
}



