
.container {

  -moz-height:100%;
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
padding:100px 0px;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:white;

}
.main-bar{
  width:80vw;
  height:80px;
  background:#7ade85;
  border-radius:7px;
  display:flex;
  justify-content:left;
  align-items:center;
  text-align:left;
}
.main-bar-p{
 font-weight:bold;
  color:white;
font-size:30px;
margin:0px 20px;
}
.container2{
  border:3px solid lightgrey;
  margin:30px;
  border-radius:10px;
  width:80vw;
}
.item{
  width:80vw;
  background:white;
  height:100px;
  margin:0px;
  display:flex;
  justify-content:left;
  align-items:center;
  text-align:left;
  flex-direction:row;
  border-radius:10px;
}
.item-title{
  font-size:20px;
  font-weight:bold;
  margin:10px;
  height:80px;
  display:flex;
  justify-content:left;
  align-items:center;
  text-align:left;
  width:60vw;
}

.status-value{
  font-size:13px;
  text-align:right;
  height:80px;
  width:20vw;
  display:flex;
  justify-content:right;
  align-items:center;

}
#datastores,#responsetime,#assets,#gameplaysystems{
  margin:0px 20px;
}
.hoverbox{
  display:none;
  background:#191919;
  padding:10px;
  color:white;
  font-size:15px;
  border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:50px;
        border-bottom-left-radius:50px;
}

#questionmark{
      margin:0px 10px;
  font-size:calc(12px + 1vw);
  color:#DEDEDE;
}

@media only screen and (max-width: 600px) {
.fa-regular{
  display:none;
}
#questionmark{
  display:none;
}
  
}
.incident-history-title{
  color:grey;
  margin:20px;
  width:80vw;
  text-align:left;
  font-weight:thin;
  font-size:20px;
  
}
.incident-history{
  width:80vw;
  height:auto;
  border-radius:10px;
}
.incident{
  margin:0px 40px;
  color:grey;
}
.incident-title{
  width:auto;
  padding:20px;
  border-radius:10px;
  font-style:italic;
  color:white;
  font-size:20px;
  letter-spacing:1px;
}



