 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




body {
  
 -moz-font-family:Montserrat;
-webkit-font-family:Montserrat;
    font-family:Montserrat;
    
     -moz-display:flex;
-webkit-display:flex;
    display:flex;
    
    -moz-flex-direction:column;
-webkit-flex-direction:column;
    flex-direction: column;
    
    -moz-align-items:center;
-webkit-align-items:center;
    align-items: center;
    
  -moz-height:auto;
-webkit-height:auto;
height:auto;


}

.header{

  width:100vw;
  height:calc(160px + 10vw);
margin:-8px;
  background:transparent;
display:flex;
justify-content:center;
align-items:center;
padding:0px 0px;
animation:fadein 1s 1;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.headerfixedbackground{
   -moz-background-image:url('header.jpg');
-webkit-background-image:url('header.jpg');
 background-image:url('header.jpg');
 -moz-background-size:cover;
-webkit-background-size:cover;
  background-size:cover;
  background-repeat:no-repeat;
  margin:-8px
  ;
  -moz-width:100vw;
-webkit-width:100vw;
  width:100vw;
  
  height:calc(160px + 10vw);

  
   -moz-position:fixed;
  -webkit-position:fixed;
  position:fixed;
  
   -moz-z-index:-2;
  -webkit-z-index:-2;
  z-index:-2;
  
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

@Keyframes slideup{
  from{transform:translate(0px, 120px);}
  to{transform:translate(0px, 0px);}
}
@Keyframes fadein{
  from{opacity:0%}
  to{opacity:100%}
}

#avatar {

  width:calc(200px + 5vw);
  height:auto;
  max-height:300px;
  animation:slideup 1s 1,fadein 2s 1;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.container {

  -moz-height:100%;
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
background:white;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.containerbottom{

    height:auto;
    width: 100vw;
    position: relative;
    display: flex;
flex-direction:column;
    align-items: center;
    text-align:center;
background:white;
margin:-8px;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aboutme {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;

    
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aboutsectionOC{
  width:100vw;
position:absolute;
background:transparent;
animation:slideup 1s 1,fadein 1s 1;

}

.aboutme-header {
    max-height: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
     font-size:calc(30px + 0.3vw);
     font-weight:bold;
     padding:15px;
     
      -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aboutme-content {
  animation:fadein 1s 1,slideinfromleft 1s 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    font-size:calc(18px + 0.3vw);

        -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.statistics-header {
    max-height: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
     font-size:calc(30px + 0.3vw);
     font-weight:bold;
     padding:15px;
     
      -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 
}
.statistics-content{

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  margin:10px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.statisticsnumber{
  color:#1e70ff;
  font-weight:bold;
  font-size:calc(60px + 0.5vw);
  padding:10px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
animation:slideinfromleft 2s 1;
 

}
.statisticsnumber:hover{
  color:#2de391;
}


@Keyframes slideinfromleft{
 from{transform:translate(-120px, 0%); opacity:0%;}
 to{ opacity:100%;}
}




.statisticslabel{
  -moz-font-size:calc(15px + 0.2vw);
-webkit-font-size:calc(15px + 0.2vw);
  font-size:calc(15px + 0.2vw);
  
    animation:slideinfromright 2s 1;

   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@Keyframes slideinfromright{
 from{transform:translate(120px, 0%); opacity:0%;}
 to{ opacity:100%;}
}



.games-header {
    max-height: 25%;
    width: 60%;
    height: auto;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
         font-size:calc(30px + 0.3vw);
     font-weight:bold;

     padding:15px;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.games-content {
    margin-top: 20px;
    max-height: 30%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
z-index:50;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.project {
    width: auto;
    height: auto;
    border-radius: 3px;

    background: #1e70ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align:Center;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}


.project:hover {
    transform: translate(0, -5px) scale(1.05) rotate(2deg);
  

     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.project > img {
    max-width: 200%;
    max-height: 200%;
    width: calc(250px +10vw);
    height: auto;

     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.category-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items:center;
text-align:center;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
padding:20px;
}
.teamsection{


}

.teamheader{
  color:black;
  font-weight:bold;
  padding:40px;
  font-size:calc(30px + 0.3vw);
  text-align:center;

   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.teamcontent{
   background:transparent;
   padding:40px;
   display:flex;
  flex-wrap: wrap;
justify-content:center;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.devcontainer{
  display:flex;
flex-direction:column;
  text-align:center;
justify-content:center;
align-items:center;
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:white;
  margin:calc(5px + 0.1vw);
  padding:calc(1px + 0.1vw);
  border-radius:20px;
}
.dev{
  
  width:calc(100px + 5vw);
  height:calc(100px + 5vw);
  padding:20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.devname{
  color:#1e70ff;
  font-weight:bold;
  font-size:calc(10px + 0.7vw);
}
.devrole{
color:black;
  font-size:calc(10px + 0.5vw);
}
.social {
   margin:10px;

    transition: opacity 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.social > img {
filter:opacity(80%);
    max-height: 38px;
    height: auto;
      transition:0.3s;
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.social > img:hover {
  filter:opacity(100%);
  transform:translate(0px, -10px);
  transition:0.3s;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.joinsection{

  width:100vw;
  height:calc(130px + 15vw);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
flex-direction:column;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.jointitle{
  color:white;
  font-weight:bold;
  padding:40px;
  font-size:calc(17px + 0.7vw);
  
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.joinb{
  background:#1e70ff;
  color:white;
  padding:calc(5px + 0.5vw);
  border-radius:5px;
  font-weight:bold;
  font-size:calc(10px + 0.5vw);
  border:none;
  text-decoration:none;
   transition:0.3s;
  
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.joinb:hover{
  background:white;
  color:#1e70ff;
  transition:0.3s;
}
.fixedbackground{
  -moz-background-image:url('map_render_murilo_2.png');
-webkit-background-image:url('map_render_murilo_2.png');
 background-image:url('map_render_murilo_2.png');
 -moz-background-size:cover;
-webkit-background-size:cover;
  background-size:cover;
  
  -moz-width:100vw;
-webkit-width:100vw;
  width:100vw;
  
  height:calc(240px + 15vw);

  -moz-filter:brightness(20%);
  -webkit-filter:brightness(20%);
  filter:brightness(20%);
  
   -moz-position:fixed;
  -webkit-position:fixed;
  position:fixed;
  
   -moz-z-index:-1;
  -webkit-z-index:-1;
  z-index:-1;
  bottom:0px;
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

.footer {
    position: relative;
    bottom: 10px;
   font-size:calc(10px + 0.3vw);

    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
