

body {
    background: #ffffff;
    font-family: "Roboto";
    display:flex;
    flex-direction: column;
    align-itims: center;
    height:1000px;
 
}

.header{
  width:100vw;
  height:calc(160px + 50vw);
margin:-8px;
  background-image:url('header.jpg');
  background-size:cover;
display:flex;
justify-content:center;
align-items:center;
padding:0px 0px;

}
#avatar {
  width:calc(200px + 5vw);
  height:auto;
  max-height:300px;
}
.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.aboutme {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
}


.aboutme-header {
    max-height: 1%;
    width: ;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
     font-size:calc(25px + 0.2vw);
     font-family:Sniglet;
     font-weight:bold;
     padding:15px;
}

.aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    font-size:calc(15px + 0.3vw);
       font-family:Sniglet;
}

.statistics-header {
    max-height: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
     font-size:calc(25px + 0.2vw);
     font-family:roboto;
     font-weight:bold;
     padding:15px;
 
}
.statistics-content{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  margin:10px;

}
.statisticsnumber{
  color:#1e70ff;
  font-weight:bold;
  font-size:calc(50px + 0.4vw);
  padding:10px;

}
.statisticslabel{
  font-size:calc(15px + 0.2vw);
}


.games-header {
    max-height: 25%;
    width: 60%;
    height: auto;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
         font-size:calc(25px + 0.2vw);
     font-family:Sniglet;
     font-weight:bold;
     padding:15px;

}

.games-content {
    margin-top: 20px;
    max-height: 30%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;


}


.project {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 3px;
    border: 2px solid #1e70ff;
    background: #1e70ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.project:hover {
    transform: translate(0, -5px) scale(1.05) rotate(2deg);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.project > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.category-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;

}
.social {
   margin:10px;

    transition: opacity 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social > img {
    max-height: 38px;
    height: auto;
}

.social > img:hover {
  transform:scale(1.25);


.footer {
    position: relative;
    bottom: 10px;
    float:bottom;
   font-size:calc(10px + 0.3vw);
}
