
.devblogstitle{
  color:black;
  font-weight:bold;
  font-size:50px;
  display:flex;
  flex-direction:row;
  
}

.container{
  background:white;
  width:100vw;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin:20px;
  flex-direction:column;
}

#update{

  background-size:cover;

  margin:20px;
  width:90vw;
  height:auto;
  border-radius:10px;
    transition:0.5s;
    text-align:center;


}


#updatetext{
padding:0px;
color:white;
font-size:calc(15px + 0.5vw);
 animation:slideup 1s 1;
margin:0px;
  font-family:Montserrat;
}
.updatetitle{
  font-size:40px;
  font-weight:bold;
  color:white;
margin:20px;
 animation:slideup 1s 1;
}

.devblog{
  background:transparent;
 z-index:2;
  margin:10px;

  padding:0px;
}
.sectiontitle{
  color:#1e70ff;
  font-size:50px;
  margin:20px;
  font-weight:bold;
  text-decoration: underline;
   font-style: italic;
   animation:slideinfromleft 1s 1;
    font-family:roboto;
}
.newthing{
  padding:10px;

  margin:0px;
  border-radius:10px;
}
.newthingtitle{
  color:black;
  font-weight:bold;
  font-size:30px;
   animation:fadein 2s 1;
}
.newmap{
  width:calc(350px + 30px);
  margin:30px;
  border-radius:10px;
   transition:0.3s;
    animation:fadein 2s 1;
}
.newitem{
  width:calc(220px + 30px);
  margin:0px;
  border-radius:10px;
   transition:0.3s;
    animation:fadein 2s 1;
  
}
.newmap:hover{
   transform: translate(0, -5px) scale(1.05) rotate(2deg);
   transition:0.3s;
}
.newitem:hover{
   transform: translate(0, -5px) scale(1.05) rotate(2deg);
    transition:0.3s;
}
.newthingtext{
  font-size:18px;
   animation:fadein 2s 1;
   font-family:Montserrat;
   margin:0px 20px ;
}
.changesectioncontainer{
  width:100vw;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;

}
.changessection{
  width:70vw;

}
.newthinglist{
  text-align:left;
  margin:0px 10vw;
}
.newthinglistitem{
  margin:10px;
}
.newweaponssection{
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  width:auto;
  flex-direction:column;

}
.newweaponright{
  width:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
}
.newweaponleft{
  width:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row-reverse;
}
.newweaponp{
  text-align:center;
  width:calc(200px + 10vw);
  font-size:calc(10px + 0.5vw);
}
.newweapontitle{
  margin:10px;
  color:black;
  font-weight:bold;
  font-size:30px;
   animation:fadein 2s 1;
}
.newweapontext{
  line-height:25px;
}
.newitemweapon{
  width:calc(100px + 10vw);
  max-width:200%;
  margin:0px;
  border-radius:10px;
   transition:0.3s;
    animation:fadein 2s 1;
  
}

